@page

@{
    Layout = "Shared/_Layout";
}

<div class="Sort_Box">
    <div class="Sort_By">
        <div class="Sort">
            SORT
        </div>
        <div class="By">
            BY
        </div>
    </div>
</div>