@page

@{
    Layout = "Shared/_Layout";
}

<div class="Profile_main">
    <div class="Profile_background">
        <img class="img_br" src="https://krot.info/uploads/posts/2020-10/1603672551_7-p-nochnoi-anime-fon-16.jpg" />
    </div>
    <div class="User_info">
        <div class="Profile_username">
            Username
        </div>
        <a href="/home/settings" class="Buttons_style " id="settings_button">
            Settings
        </a>
    </div>
    <img class="Profile_avatar" src="https://memepedia.ru/wp-content/uploads/2018/10/pikachu-mem-hd.jpg" />
        <textarea typeof="text" class="About_me"></textarea>
</div>

@section Scripts {
    <script>
        $.ajax({
            type: 'GET',
            url: '/api/Home/currentUser',
            success: function (result) {
                console.log(result);
                if (result == null)
                    window.location.href = "/RegistrationLogin/login";
                $(".Username").text(result.username);
                if (result.avatar != null)
                    document.getElementById("Avatar").src = "data:img/png;base64," + result.avatar;
            },
            error: function (err) {
                console.error(err);
            },
        });
    </script>
}